/src/readline/* no-precommit-check
/gnu/src/win32/* no-precommit-check
/gnu/src/win32/sys/* no-precommit-check
/gnu/src/* no-precommit-check
/src/builtins/posix_shell-builtins-cp.adb no-precommit-check
os/src/ddk/* no-precommit-check
os/src/ddk/*/* no-precommit-check
os/src/ddk/*/*/* no-precommit-check
/lua/src/* no-precommit-check
/maintainers/* no-precommit-check
/maintainers/*/* no-precommit-check
/maintainers/*/*/* no-precommit-check
/maintainers/*/*/*/* no-precommit-check
/gsh/src/*.h no-precommit-check
/gsh/src/readline/* no-precommit-check
/gsh/src/windows-termcap.c no-precommit-check
/testsuite/*/*.ad? no-precommit-check 
/testsuite/*/*/*.ad? no-precommit-check 
/testsuite/*/*/*/*.ad? no-precommit-check 
/testsuite/*/*/*/*/*.ad? no-precommit-check 
/testsuite/*/*.c no-precommit-check 
/testsuite/*/*/*.c no-precommit-check 
/testsuite/*/*/*/*.c no-precommit-check 
/testsuite/*/*/*/*/*.c no-precommit-check 
