/src/readline/* no-precommit-check
/src/gnulib/* no-precommit-check
/src/gnulib/*/* no-precommit-check
/src/builtins/posix_shell-builtins-cp.adb no-precommit-check
os/src/ddk/* no-precommit-check
os/src/ddk/*/* no-precommit-check
os/src/ddk/*/*/* no-precommit-check
/lua/src/* no-precommit-check
/maintainers/* no-precommit-check
/maintainers/*/* no-precommit-check
/maintainers/*/*/* no-precommit-check
/maintainers/*/*/*/* no-precommit-check
