doc/build/*
install/*
src/posix_shell-lua_bindings.adb
testsuite/out/*
testsuite/tmp/*
testsuite/tmp.xml
obj/*
os/obj/*
os/lib/*
gnutools/bin/sh.exe
gnutools/bin/gsh.exe
*.pyc
*.o
lua/src/liblua.a
lua/src/lua
lua/src/luac
c/lib
c/obj
c/exe
gsh/lib
gsh/obj
testsuite/gcov
